.slider {
  margin-top: spacing(6);

  .carousel {
    width: 100vw;
  }

  .carousel-indicators {
    margin-bottom: 2rem;
    li {
      width: 12px;
      height: 12px;
      display: inline-block;
      background: $primary;
      border: none;
      border-radius: 50%;
      margin: spacing(0) spacing(0.5);
      opacity: 1;

      &.active {
        background: $secondary;
      }
    }
  }

  .carousel-item {
    img {
      object-fit: fill;
      overflow: hidden;
    }
  }

  .carousel-control-prev {
    position: absolute;
    width: 5%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;

    z-index: 2;
    opacity: 0.5;

    &-icon {
      background-image: url(../../../img/back-session.png) !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50px;
      height: 100px;
    }
  }

  .carousel-control-next {
    position: absolute;
    width: 5%;
    top: 0;
    right: 0px;
    background-color: transparent;
    border: none;

    z-index: 2;
    opacity: 0.5;

    &-icon {
      background-image: url(../../../img/next-session.png) !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50px;
      height: 100px;
    }
  }

  @include responsive-for("small") {
    .carousel-indicators {
      margin-bottom: 1rem;
      li {
        width: 10px;
        height: 10px;
        margin: spacing(0) spacing(0.5);
      }
    }
  }
}
