// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #ffffff;
$secondary: #fb4226;
$lightGrey: #e9e9e9;
$darkGrey: #4a4a4a;
$black: #000000;

//-----COLORS TEXT------
$textPrimary: #4a4a4a;
$textSecondary: #fa5238;
$textBlack: #000000;
$textGrey: #9b9b9b;
$textLightGrey: #e9e9e9;
$textWhite: #ffffff;
$textDarkGreen: #108f3e;
$textGreen: #8bc541;
$textRed: #fb4226;

//-------FONT SIZE-------
$body1: 12px;
$body2: 13px;
$subtitle1: 14px;
$subtitle2: 15px;
$h6: 16px;
$h5: 18px;
$h4: 24px;
$h3: 32px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------LINE HEIGHT---------
$lhDefault: 1.4;

//------SPACING-------------
$spacing: 10px;
