.myfooter {
  background: $lightBlack;
  padding: spacing(2) spacing(5);

  .title {
    @include text($body1, $textWhite, $fwMedium);
    margin-bottom: spacing(1);
  }

  .tix-footer {
    &-item {
      a {
        @include text($body1, $textGrey, $fwBold);
        display: block;
        transition: all 0.2s;
        line-height: 2.3;
        text-decoration: none;

        &:hover {
          color: $textWhite;
        }
      }
    }
  }

  .partner-footer {
    .partner-line {
      margin-bottom: spacing(1.5);

      a {
        img {
          border-radius: 50%;
          height: 30px;
          width: 30px;
          margin-right: spacing(1.5);

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .app-social-footer {
    text-align: center;
    a {
      img {
        height: 30px;
        width: auto;
        margin: spacing(0.5);
      }
    }
  }

  hr {
    border-top: 1px solid $darkGrey;
    margin: spacing(2) spacing(-1.5);
  }

  .img-left-footer {
    padding: 0;
    img {
      border-radius: 8px;
      width: 80px;
      height: auto;
    }
  }

  .contact-footer {
    p:nth-child(1) {
      @include text($body1, $textWhite, $fwMedium);
      line-height: 1.8;
    }

    p {
      line-height: 1.8;
      color: #949494;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
    }

    p {
      a {
        text-decoration: none;
        color: $textSecondary;
        cursor: pointer;
        transition: all 0.2s;
      }
    }
  }

  .img-right-footer {
    padding: 0;
    img {
      width: 130px;
      float: right;
    }
  }

  @include responsive-for("large") {
    .title {
      display: none;
    }

    .tix-footer {
      &-item:first-child {
        display: none;
      }

      &-item:last-child {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a {
          margin-right: spacing(1);
        }
      }
    }

    .partner-footer {
      display: none;
    }

    .app-social-footer {
      .app-footer {
        display: none;
      }
    }

    .contact-footer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @include responsive-for("medium") {
    .img-left-footer {
      text-align: center;
      margin-bottom: 20px;
    }

    .img-right-footer {
      text-align: center;
      img {
        float: none;
      }
    }
  }
}
