.close-collapse {
  @include button(
    $subtitle2,
    $fwRegular,
    $textWhite,
    $secondary,
    $secondary,
    $textWhite,
    $secondary,
    $secondary,
    none,
    spacing(1) spacing(1),
    spacing(0.5) spacing(0.5)
  );

  width: 35px;
  height: 35px;
  line-height: 25px;
  border-radius: 50%;
}

.ticket-buy-now {
  @include button(
    $subtitle1,
    $fwRegular,
    $textWhite,
    $darkGrey,
    $darkGrey,
    $textWhite,
    $darkGrey,
    $darkGrey,
    none,
    spacing(0) spacing(1),
    spacing(1) spacing(2.5)
  );
}

.ticket-buy {
  @include button(
    $h5,
    $fwBold,
    $textWhite,
    $secondary,
    $secondary,
    $textWhite,
    $secondary,
    $secondary,
    none,
    spacing(1) spacing(0),
    spacing(1) spacing(2.5)
  );

  width: 100%;
}

.see-more {
  @include button(
    $subtitle1,
    $fwMedium,
    $textPrimary,
    $primary,
    $darkGrey,
    $textWhite,
    $secondary,
    $secondary,
    none,
    spacing(3.5) auto spacing(0.2),
    spacing(0.7) spacing(2.5)
  );
}
