.owl-carousel {
  margin: spacing(0) spacing(0.2);
  .owl-nav {
    display: block !important;

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 39%;
      width: 50px;
      height: 50px;
      border: none;
      background: transparent;
      background-size: cover !important;
      outline: none !important;
      opacity: 0.6;
      cursor: pointer;

      &:hover {
        background: transparent;
      }

      span {
        display: none;
      }
    }

    .owl-prev {
      left: -8%;
      background-image: url(../../img/back-session.png) !important;
    }

    .owl-next {
      right: -8%;
      background-image: url(../../img/next-session.png) !important;
    }
  }

  .owl-dot {
    display: none !important;
  }

  @include responsive-for("large") {
    .owl-nav {
      .owl-prev,
      .owl-next {
        display: none;
      }
    }
  }
}

.nav-tabs {
  border: none;
  justify-content: center;
  align-content: center;
  margin-bottom: spacing(4.5);

  .nav-link {
    border: none;
    @include text($h4 - 4px, $textBlack, $fwRegular);
    transition: all 0.2s;
  }

  .nav-link.active {
    @include text($h4, $textSecondary, $fwRegular);
  }

  .nav-link:hover {
    font-size: $h4;
    cursor: pointer;
  }

  @include responsive-for("extra-small") {
    .nav-tabs {
      .nav-link {
        @include text($h4 - 4px, $textBlack, $fwRegular);
        font-size: $subtitle1;
      }

      .nav-link.active,
      .nav-link:hover {
        font-size: $h5;
      }
    }
  }
}
