* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $textPrimary;
  background-color: $primary;
  font-weight: $fwRegular;
  line-height: $lhDefault;
  overflow-x: hidden;
}
